<div class="container" [routerLink]="['/detailsPage',inputchild1.id]" routerLinkActive="router-link-active" >
  <img [src]="inputchild1?.imageUrl" [alt]="inputchild1?.name">

  <div class="row">
    <div class="col-md-11">
      <h2>{{inputchild1?.name}} </h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 ">
      <div><strong>Date:</strong> {{inputchild1.Date}}</div>
      <div><strong>Time:</strong> {{inputchild1?.time}}</div>
      <div><strong>Price:</strong> ${{inputchild1?.price}}</div>
    </div>
    <div class="col-md-6">
      <address>
        <strong>Address:</strong><br />
        {{inputchild1.location?.address}}<br />
        {{inputchild1.location?.city}}, {{inputchild1?.location?.country}}
      </address>
    </div>
  </div>
</div>