<div class="container-fluid">


<div class="row  border" *ngFor="let item of VisibleSession">
  <div class="col-md-2">
    <app-upvote (vote)="toggleVote(item,$event)"[count]="item.voters.length" [voted]="userHasVoted(item)">

    </app-upvote>
  </div>
  <div class="col-md-10">
   <app-content-proj> 
     <div well-title>     
      <h4>{{item?.name|uppercase}}
      
     <i class="fa fa-fire" style="color: red" *ngIf="item?.voters.length >2" aria-hidden="true"></i> </h4>
    </div> 
    <div well-body>
        <h6>{{item?.presenter}}</h6>
        <span>Duration: {{item?.duration|Duration}}</span><br />
        <span>Level: {{item?.level}}</span>
        <p>{{item?.abstract}}</p>
    </div>   
   </app-content-proj>
  </div>
</div>
</div>