 

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand  " href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent col-md-7">
    <ul class="navbar-nav mr-auto ">
      <li class="nav-item active">
       
        <a [routerLink]="['/Home']" routerLinkActive="router-link-active"   class="nav-link btn-outline-danger">Home</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/Lesson']" routerLinkActive="router-link-active active"  class="nav-link ">Lesson</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/Lesson2']" routerLinkActive="router-link-active active"  class="nav-link ">Lesson2</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['/Session']" routerLinkActive="router-link-active"  href="#">Session</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item pull-right">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
      
    </ul>
       
  </div>
    <form class="navbar-form form-inline pull-left col-4" id="searchform" (ngSubmit)="SearchSession(SearchTerm)">
        <div class="form-group">
            <input type="text" [(ngModel)]="SearchTerm" name="SearchTerm" class="form-control mr-2" placeholder="serach..">
            <button class="btn btn-outline-danger" appModelTrigegr ="modelIdFromNavBar" >Serach</button>
            </div>            
    </form>
           
  
           
    <div class="nav-item  col-md-1">
        <a *ngIf="!this.service.IsAuthenticated()" class="nav-link " [routerLink]="['/create/Login']" routerLinkActive="router-link-active" >Login</a>
      <a  *ngIf="this.service.IsAuthenticated()" class="nav-link " [routerLink]="['/create/Login']" routerLinkActive="router-link-active" >{{this.service.CurrentUser.firstName}}</a>
    </div>
 
</nav>

<app-simple-model title="My Model Popup" elementId="modelIdFromNavBar">
  <div class="list-group">
  <a  class="list-group-item-danger" *ngFor="let session of FoundSession" [routerLink]="['/detailsPage',session.eventId]" routerLinkActive="router-link-active" >
  {{session?.name}}</a>
</div>
</app-simple-model>