<div>
    <h1> Edit your profile</h1>
    <hr>
    <div class="col-md-4">
        <form  [formGroup]="profile2" (ngSubmit)="Submit()" novalidate >
            <div class="form-group">
                <label for="firstName">FirstName</label>
                <em *ngIf="isfirstnameValid()" class="error" >Required</em>
               <input id="firstName" formControlName="firstName" [ngClass]="{error: isfirstnameValid()}"  
               type="text" class="form-control" placeholder="FirstName">
            </div>
            <div class="form-group">
                <label for="lastName">LastName</label>
                <em *ngIf="islastnameValid()" class="error">Required</em>
                <em *ngIf="islastnameValidp()" class="error">Must start with letter</em>
                <input id="lastName"  [ngClass]="{error: islastnameValid()}"formControlName="lastName"  class="form-control" placeholder="LastName" type="text">
            </div>
            <button type="submit" class="btn btn-primary"><i class="fab fa-save fa-lg"></i>Save</button>
            <button type="submit" class="btn btn-default">cancel</button>
        </form>
    </div>
</div>